---
layout: single
---

<div class="notice">
  <h4>Facts and Links</h4>
  <ul>

{% if page.vision %}
<li><b>Vision:</b> {{page.vision}}</li>
{% endif %}
{% if page.horizon %}
<li><b>Strategy Horizon:</b> {{page.horizon}}</li>
{% endif %}
{% if page.strategy_document %}
<li><a href={{page.strategy_document}} target="_blank">Strategy Document</a></li>
{% endif %}
{% if page.strategy_website %}
<li><a href={{page.strategy_website}} target="_blank">Strategy Website</a></li>
{% endif %}
</ul>

</div>

<div>
    {{ content }}
</div>

